.Select-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.Label-category {
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-right: 5%;
    width: 50%;
    justify-content: right;

}

.Label-sort {
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-right: 5%;
    width: 50%;
    justify-content: left;

}
.Select {
    padding: 1%;
    margin-left: 1%;
    border-radius: 5px;
    border: none;
    width: 30%;
}

span {
    margin-right: 5%;
}
