.Select-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 2%;
}

.Label-category {
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-right: 5%;
    width: 50%;
    justify-content: right;

}

.Label-sort {
    display: flex;
    align-items: center;
    margin-left: 1%;
    margin-right: 5%;
    width: 50%;
    justify-content: left;
}

.Select {
    padding: 1%;
    margin-left: 1%;
    border-radius: 5px;
    border: none;
    width: 30%;
}

span {
    margin-right: 5%;
}

@media (max-width: 830px) {
    .Select {
        width: 40%;
    }
    span {
        margin-left: 5%;
    }
}

@media (max-width: 510px) {
    .Select {
        width: 65%;
    }
    span {
        margin-left: 5%;
        margin-bottom: 1%;
    }
    .Label-category {
        display: flex;
        flex-direction: column;
    }

    .Label-sort {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 390px) {
    .Select {
        width: 70%;
    }
}
