.App {
  background-color: aquamarine;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.Input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.Input-style {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2%;
  padding: 1%;
  border-radius: 20px;
  font-size: 100%;
  border: none;
}

.Button-Style {
  padding: 1%;
  border-radius: 20px;
  font-size: 80%;
  margin-left: 2%;
  margin-top: 2%;
  background-color: peachpuff;
  border: none;
}

.Card-container {
  width: 65%;
  margin: 0 auto;
  margin-top: 2%;
  display: grid;
  grid-template-columns: repeat(4, minmax(200px, 0.5fr));
  grid-gap: 20px;
  box-sizing: border-box;
  margin-bottom: auto;

}

.ButtonContainer {
  display: flex;
  justify-content: center;
}

.BottomButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1%;
  border-radius: 20px;
  font-size: 80%;
  margin-top: 1%;
  background-color: peachpuff;
  border: none;
  margin-bottom: 1%;
}


@media (max-width: 990px) {
  .Card-container {
    margin-top: 1%;
    grid-template-columns: repeat(3, minmax(200px, 0.5fr));
  }
}

@media (max-width: 770px) {
  .Card-container {
    margin-top: 1%;
    grid-template-columns: repeat(2, minmax(200px, 0.5fr));
  }
}

@media (max-width: 440px) {
  .Card-container {
    margin-top: 1%;
    grid-template-columns: repeat(1, minmax(200px, 0.5fr));
  }
}
